__pycache__/damageCalc.cpython-39.pyc
__pycache__/monsterClass.cpython-39.pyc
__pycache__/moveClass.cpython-39.pyc
space.jpg
pokemonLogo.png
__pycache
battleBackgrounds.png
starlight.png
keldeoFront.png
__pycache__/turn.cpython-39.pyc
Tyranitar.png
Keldeo.png
Dragonite.png
Volcarona.png
FrontSprites/BackSprites - Shortcut.lnk
FrontSprites/desktop.ini
KELDEOBACK.png
VOLCARONAFRONT.png
VOLCARONABACK.png
TYRANITARFRONT.png
TYRANITARBACK.png
DRAGONITEFRONT.png
DRAGONITEBACK.png
__pycache__/animation.cpython-39.pyc
youlose.png
youwin.png
__pycache__/minmax.cpython-39.pyc
shaymins.jpg
pmd.png
ocean.png
logo.png
harmonica.jpg
GARDEVOIRBACK.png
GARDEVOIRFRONT.png
GENGARBACK.png
GENGARFRONT.png
INFERNAPEBACK.png
INFERNAPEFRONT.png
MAGNEZONEBACK.png
MAGNEZONEFRONT.png
MILOTICBACK.png
MILOTICFRONT.png
SCEPTILEBACK.png
SCEPTILEFRONT.png
SCIZORBACK.png
SCIZORFRONT.png
SNORLAXBACK.png
SNORLAXFRONT.png
TOGEKISSBACK.png
TOGEKISSFRONT.png
WEAVILEBACK.png
WEAVILEFRONT.png
GARCHOMPFRONT.png
GARCHOMPBACK.png
__pycache__
